*{
  margin :0;
  padding-bottom: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
}

button{
  padding: 10px 20px;
  margin: 20px;
}

h1{
  padding: 10px 80px;
  margin: 20px;
  font-size: 100px;
  background-color: rgb(119,119,119);
  width: fit-content;
}